.title {
    color: #037e91;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 30px 0;
    margin: 0;
}

hr {
    margin: 0;
}

.form {
    margin-top: 50px;
    text-align: center;
}

.form-field {
    margin-top: 10px;
}

    .form-field p {
        margin-bottom: 0;
        font-weight: 700;
        color: #04a4bd;
    }

    .form-field input {
        border-radius: 5px;
    }

.form button {
    margin-top: 20px;
}
